streamlit==1.52.2
pandas==2.3.3
pydeck==0.9.1
numpy==2.4.0
plotly==6.5.1
folium==0.20.0
streamlit-folium==0.26.1
scikit-learn==1.8.0
openpyxl==3.1.5
pyodbc==5.3.0
# Optional/dev:
# scipy==1.16.3
# pyarrow==22.0.0
streamlit
pyodbc

